/* PRIORIDADES */

.prioridades {
    margin-bottom: 60px;    
}

.tarjeta {
    text-align: justify;
}

.tarjeta > img {
    margin-bottom: 25px;
}

.tarjeta .info > h4 {
    text-transform: capitalize;
    margin-bottom: 15px;
}